<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<title>Delete</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.3/smoothness/jquery-ui-1.10.3.custom.css}"
		href="../../css/jquery-ui-1.10.3/smoothness/jquery-ui-1.10.3.custom.css" />
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-ui-1.10.3.custom.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/common.js}"></script>
</head>


<body >

<form method="post" action="#" th:action="@{/delete/handle-button-delete}">
	<input type="hidden" id="id" name="id" th:value="${command.id}"/>

	<div class="page">
		<div id="title" class="title"><h2>Hello World</h2></div>
		<div id="subtitle" class="subtitle"><h3>Page: <b>Delete</b></h3></div>
		<div class="content">
			<div class="contentElement">
				<br></br>
				<div id="confirmationText" class="text">Do you really want delete user: <span th:text="${command.name}"></span>?</div>
			</div>
			
		</div>
		<div class="buttons">
			<input type="submit" id="delete" name="delete" value="Delete" title="Delete user"/>
			<a href="/list" title="Go back to list of users">Back</a>
		</div>
	</div>
</form>

</body>

</html>